<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseImageURL</key>
	<string>https://image.tmdb.org/t/p/w500</string>
	<key>BaseURL</key>
	<string>https://api.themoviedb.org/3/</string>
	<key>MovieAPIKey</key>
	<string>4b5be937d573ade246e0789cfc56ea41</string>
</dict>
</plist>
